:root {
    --red: #ff0101;
    --yellow: #fff001;
    --blue: #0101fd;
    --black: black;
    --grey: #30303a;
    --white: #f9f9f9;
}

.cube-area1 {
    width: 20%;
    height: 70%;
    position: absolute;
    display: grid;
    border: 6px solid var(--black);
}

.cube-area1 > div {
    border-bottom: 6px solid var(--black);
}

.cube-area1 > div:last-child {
    border-bottom: none;
}
  
.bg-white { background-color: var(--white); }
.bg-blue { background-color: var(--blue); }
.bg-yellow { background-color: var(--yellow); }
.bg-grey { background-color: var(--grey); }
.bg-red { background-color: var(--red); }