body {
    overflow: hidden;
}

.cube-area1 {
    border: 1px solid red;
    width: 20%;
    height: 73%;
    position: absolute;
}

.c1 {
    background-color: black;
    width: 50%;
    height: 20%;
    position: relative;
}

.c2 {
    background-color: blueviolet;
    width: 50%;
    height: 20%;
    position: relative;
}

.cube-area2 {
    border: 1px solid red;
    width: 79%;
    height: 73%;
    left: 20.5%;
    position: absolute;
}

.cube-area3 {
    border: 1px solid red;
    width: 99%;
    height: 25%;
    top: 74%;
    position: absolute;
}